/*清除元素默认的内外边距  */
html,
body,
div,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dt,
dd,
ol,
form,
input,
textarea,
th,
td,
select {
    margin: 0;
    padding: 0;
}

* {
    /* 怪异盒模型 */
    box-sizing: border-box;
}

/*让所有斜体 不倾斜*/
em,
i {
    font-style: normal;
}

/*去掉列表前面的小点*/
li {
    list-style: none;
}

/*图片没有边框   去掉图片底侧的空白缝隙*/
img {
    border: 0;
    /*ie6*/
    vertical-align: middle;
}

/*让button 按钮 变成小手*/
button {
    cursor: pointer;
}

/*取消链接的下划线*/
a {
    color: #666;
    text-decoration: none;
}

a:hover {
    color: #1abc9c;
}

button,
input {
    font-family: 'Microsoft YaHei', 'Heiti SC', tahoma, arial, 'Hiragino Sans GB', \\5B8B\4F53, sans-serif;
    outline: none;
}

body {
    background-color: #fff;
    font: 12px/1.5 'Microsoft YaHei', 'Heiti SC', tahoma, arial, 'Hiragino Sans GB', \\5B8B\4F53, sans-serif;
    color: #666
}

.hide,
.none {
    display: none;
}

.clearfix:after {
    /* 清除浮动 */
    content: ".";
    width: 0;
    height: 0;
    visibility: hidden;
    display: block;
    clear: both;
    overflow: hidden;
}

.clearfix {
    *zoom: 1
}

table {
    /* 边框合并 */
    border-collapse: collapse;
    table-layout: fixed;
}

input,
textarea {
    /* 去掉聚焦时黑色边框 */
    outline: none;
    border: none;
}

textarea {
    /* 禁止拉动 */
    resize: none;
    overflow: auto;
}

.fl {
    /* 左浮 */
    float: left;
}

.fr {
    /* 右浮 */
    float: right;
}

.tl {
    text-align: left;
}

.ellipse {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}