.wrap {
    overflow: hidden;
    padding-top: 80px;
    position: relative;
}

.main {
    width: 860px;

    .slider_wrap {
        height: 320px;

        .main_slider {
            position: relative;
            width: 621px;
            height: 320px;
            background-color: blanchedalmond;
            overflow: hidden;

            .main_area {
                width: 1242px;
                overflow: hidden;

                li {
                    position: relative;
                    float: left;
                    width: 621px;
                    height: 320px;
                    overflow: hidden;

                    &:hover img {
                        transform: scale(1.1);
                    }

                    h3 {
                        position: absolute;
                        display: block;
                        height: 50px;
                        width: 100%;
                        bottom: 0;
                        left: 0;
                        padding: 0px 15px;
                        background: linear-gradient(180deg, transparent, rgba(0, 0, 0, .1));
                        font-size: 18px;
                        line-height: 50px;
                        color: #fff;
                        cursor: pointer;
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        transition: all .4s;
                    }
                }
            }

            .bullets {
                position: absolute;
                bottom: 18px;
                right: 10px;
                width: 50px;
                height: 6px;

                span {
                    width: 8px;
                    height: 7px;
                    background-color: rgba(255, 255, 255, .8);
                    margin: 0px 5px;
                    border-radius: 6px;
                    cursor: pointer;
                }
            }

            .prev {
                position: absolute;
                background: rgba(100, 100, 100, .1);
                top: 130px;
                left: 0;
                font-size: 40px;
                height: 60px;
                line-height: 56px;
            }

            .next {
                position: absolute;
                top: 130px;
                right: 0;
                font-size: 40px;
                height: 60px;
                line-height: 56px;
                background: rgba(100, 100, 100, .1);
            }
        }

        .feature_post {


            li {
                position: relative;
                height: 153px;
                width: 226px;
                overflow: hidden;

                &:hover img {
                    transform: scale(1.1);
                }

                img {
                    height: 100%;
                    width: 100%;
                    transition: all .4s;


                }

                span {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 226px;
                    height: 44px;
                    background: linear-gradient(180deg, transparent, rgba(0, 0, 0, .7));
                    color: #fff;
                    padding: 10px 15px;
                    line-height: 25px;
                    cursor: pointer;
                }

                &:nth-child(1) {
                    margin-bottom: 14px;
                }
            }
        }
    }

    .topic_rec {
        margin-top: 20px;
        height: 242px;
        background-color: #fff;

        .topic_head {
            height: 40px;
            padding: 20px 20px 0;

            span {
                font-size: 18px;
                color: #333;
                line-height: 22px;
            }

            small {
                margin-left: 10px;
                font-size: 14px;
                color: #606266;
            }

            a {
                float: right;
                font-size: 14px;
                color: #999;
                line-height: 25px;

                &:hover {
                    color: #1abc9c;
                }
            }
        }

        .topic_body {

            ul {
                height: 197px;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-around;

                li {
                    position: relative;
                    width: 248px;
                    height: 160px;

                    a {

                        &:hover img {
                            opacity: 1;
                            transform: scale(1.1);

                        }

                        &::after {
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 100%;
                            height: 100%;
                            content: "";
                            background: rgba(0, 0, 0, .3);
                        }

                        div {
                            width: 248px;
                            height: 160px;
                            overflow: hidden;

                            img {
                                width: 100%;
                                height: 100%;
                                opacity: .6;
                                transition: all .4s;
                            }
                        }



                        span {
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            margin-left: -35px;
                            margin-top: -10px;
                            color: rgb(255, 255, 255);
                            font-size: 20px;
                            z-index: 1;
                        }
                    }
                }
            }
        }
    }

    .main_list {
        height: 3848px;
        background-color: #fff;
        margin-top: 20px;

        .btns {
            padding: 0px 20px;

            ul {
                height: 54px;
                border-bottom: 1px solid #efefef;

                li {
                    position: relative;
                    margin: 0px 14px;
                    float: left;
                    font-size: 16px;
                    line-height: 52px;

                    &::after {
                        position: absolute;
                        top: 20px;
                        right: -14px;
                        content: "";
                        width: 1px;
                        height: 16px;
                        background: rgba(100, 100, 100, .1);
                    }

                    a {
                        display: block;
                        height: 54px;
                        cursor: pointer;
                    }
                }
            }

        }

        #item {
            padding: 0 20px;

            li {
                overflow: hidden;
                margin: 20px 0;
                border-bottom: 1px solid #efefef;

                .item_img {
                    position: relative;

                    a:nth-child(1) {
                        display: block;
                        width: 236px;
                        height: 148px;
                        overflow: hidden;

                        &:hover img {
                            transform: scale(1.1);
                        }

                        img {
                            height: 100%;
                            width: 100%;
                            transition: all .4s;
                        }
                    }

                    a:nth-child(2) {
                        display: block;
                        position: absolute;
                        top: 13px;
                        width: 50px;
                        height: 25px;
                        background-color: #000;
                        background: rgba(0, 0, 0, .6);
                        border-top-right-radius: 3px;
                        border-bottom-right-radius: 3px;
                        color: #fff;
                        font-size: 12px;
                        line-height: 25px;
                        text-align: center;

                        &:hover {
                            color: #1abc9c;
                        }
                    }
                }

                .item_content {
                    width: 558px;
                    margin-left: 17px;

                    h2 {
                        a {
                            display: block;
                            width: 471px;
                            height: 28px;
                            font-size: 20px;
                            line-height: 28px;
                            font-family: '黑体';
                        }

                        margin-bottom: 10px;
                    }

                    div:nth-child(2) {
                        margin-bottom: 40px;

                        p {
                            overflow: hidden;
                            text-overflow: ellipsis;
                            display: -webkit-box;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;
                            height: 43px;
                            font-size: 14px;
                        }
                    }

                    div:nth-child(3) {
                        color: #999999;


                    }
                }
            }
        }
    }
}

.sidebar {
    width: 300px;
    position: absolute;
    right: 0;
    background-color: #f5f5f5;

    .searchipt {
        #input {
            width: 258px;
            height: 34px;
            background-color: #fff;
            padding-left: 10px;
            color: #999;
        }

        #btn {
            width: 42px;
            height: 34px;
            background: #1abc9c;
            outline: none;
            border: none;

            i {
                color: #fff;
            }
        }
    }

    .hotatc {
        height: 523px;
        margin-top: 21px;
        padding: 15px;
        background-color: #fff;

        h3 {
            height: 16px;
            line-height: 13px;
            font-size: 16px;
            padding-left: 10px;
            margin-bottom: 1px;
            border-left: 3px solid #1abc9c;
        }

        li {
            overflow: hidden;
            padding: 15px 0;
            border-bottom: 1px solid #efefef;

            .hotimg {

                a {
                    display: block;
                    width: 100px;
                    height: 63px;
                    overflow: hidden;

                    &:hover img {
                        transform: scale(1.1);
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        transition: all .1s;
                    }
                }
            }

            div:nth-child(2) {
                padding-left: 10px;

                a {
                    font-size: 13px;
                }

                p {
                    padding-top: 25px;
                    color: #999;
                }
            }
        }

    }

    .hotatc {
        height: 523px;
        margin-top: 21px;
        padding: 15px;
        background-color: #fff;

        h3 {
            height: 16px;
            line-height: 13px;
            font-size: 16px;
            padding-left: 10px;
            margin-bottom: 1px;
            border-left: 3px solid #1abc9c;
        }

        li {
            overflow: hidden;
            padding: 15px 0;
            border-bottom: 1px solid #efefef;

            .hotimg {

                a {
                    display: block;
                    width: 100px;
                    height: 63px;
                    overflow: hidden;

                    &:hover img {
                        transform: scale(1.1);
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        transition: all .1s;
                    }
                }
            }

            div:nth-child(2) {
                padding-left: 10px;

                a {
                    font-size: 13px;
                }

                p {
                    padding-top: 25px;
                    color: #999;
                }
            }
        }

    }

    .recatc {
        height: 523px;
        margin-top: 24px;
        padding: 15px;
        background-color: #fff;

        h3 {
            height: 16px;
            line-height: 13px;
            font-size: 16px;
            padding-left: 10px;
            margin-bottom: 1px;
            border-left: 3px solid #1abc9c;
        }

        li {
            overflow: hidden;
            padding: 15px 0;
            border-bottom: 1px solid #efefef;

            .hotimg {

                a {
                    display: block;
                    width: 100px;
                    height: 63px;
                    overflow: hidden;

                    &:hover img {
                        transform: scale(1.1);
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        transition: all .1s;
                    }
                }
            }

            div:nth-child(2) {
                width: 170px;
                padding-left: 10px;

                a {
                    font-size: 13px;
                }

                p {
                    padding-top: 8px;
                    color: #999;
                }
            }
        }

    }

    .classatc {
        // height: 523px;
        margin-top: 24px;
        padding: 15px;
        background-color: #fff;

        h3 {
            height: 16px;
            line-height: 13px;
            font-size: 16px;
            padding-left: 10px;
            margin-bottom: 1px;
            border-left: 3px solid #1abc9c;
        }

        li {
            overflow: hidden;
            padding: 15px 0;
            border-bottom: 1px solid #efefef;

            .hotimg {

                a {
                    display: block;
                    width: 100px;
                    height: 63px;
                    overflow: hidden;

                    &:hover img {
                        transform: scale(1.1);
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        transition: all .1s;
                    }
                }
            }

            div:nth-child(2) {
                width: 170px;
                padding-left: 10px;

                a {
                    font-size: 13px;
                }

                p {
                    padding-top: 8px;
                    color: #999;
                }
            }
        }
    }

    .ad1 {
        margin-top: 24px;
    }

    .tag {
        margin-top: 24px;
        padding: 15px;
        background-color: #fff;

        h3 {
            height: 16px;
            line-height: 13px;
            font-size: 16px;
            padding-left: 10px;
            margin-bottom: 1px;
            border-left: 3px solid #1abc9c;
        }

        div {
            margin-top: 15px;

            a {
                display: inline-block;
                margin-bottom: 7px;
                width: 87px;
                height: 26px;
                border: 1px solid #e0dcdc;
                text-align: center;
                line-height: 26px;

                &:hover {
                    background-color: #1abc9c;
                    color: white;
                }
            }
        }
    }
}

.links {
    margin-top: 15px;
    height: 127px;
    background-color: #fff;
    padding: 15px 20px;

    .links_head {
        h3 {
            width: 1130px;

            span {
                font-size: 18px;
            }

            small {
                margin-left: 10px;
                font-size: 14px;
                color: #606266;
            }

            a {
                font-size: 14px;
                color: #999;

                &:hover {
                    color: #1abc9c;
                }
            }
        }
    }

    .links_body {
        padding-top: 15px;
        height: 70px;

        a {
            margin: 0 15px 12px 0;
            font-size: 14px;
            line-height: 25px;
            color: #999;

            &:hover {
                color: #1abc9c;
            }
        }
    }
}

.message {
    position: fixed;
    bottom: 0;
    right: 50px;
    background-color: #1abc9c;
    width: 176px;
    height: 40px;
    cursor: pointer;

    div:nth-child(1) {
        width: 46px;
        border-right: 1px solid rgb(172, 197, 172);
        font-size: 30px;
        color: #fff;
        text-align: center;
    }

    div:nth-child(2) {
        line-height: 40px;
        color: white;
        font-size: 16px;
        padding-left: 10px;
    }
}